---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=80220
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 02 Sep 2022 21:59:28 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"80220"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80220","geocodeQualityCode":"Z1XAA","geocodeQuality":"ZIP","dragPoint":false,"sideOfStreet":"N","linkId":"286301833","unknownInput":"","type":"s","latLng":{"lat":39.733854,"lng":-104.916649},"displayLatLng":{"lat":39.733854,"lng":-104.916649},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_api_key>&type=map&size=225,160&locations=39.733854,-104.916649|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1925294156"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Tilloy-Floriville","adminArea5Type":"City","adminArea4":"Somme","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"FR","adminArea1Type":"Country","postalCode":"80220","geocodeQualityCode":"Z1XAA","geocodeQuality":"ZIP"[...]
